body{
    font-size: 24px;
    text-decoration: purple;
    background: radial-gradient(95.26% 95.26% at 50% 101.66%, rgba(216, 108, 19, 0.91) 0%, rgba(214, 130, 5, 0.91) 31.25%, rgba(235, 150, 54, 0.91) 54.17%, rgba(211, 131, 65, 0.91) 70.31%, rgba(199, 78, 7, 0.91) 100%);
}

@media only screen and (min-width: 200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
}

section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 5px;
}


header {
    width: max-content;
    color: #80002B;
    background: #FF7F27;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    display: inline-block
}

.menu {
    display: inline-flex;
    float: left;
}


.menu p{
    margin-left: auto;
    font-size: 40px;
    margin-right: 80px;
}


input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FEDF50;
}
  
input[type=submit] {
    width: auto;
    max-width: 10%;
    background-color: #FEDF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=file] {
    display: none;
    padding: 10px;
    font-size: 10px;
    max-width: 80px;
    max-height: 10px;
    width: auto;
    height: auto;
}

.camerazinha{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.label {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(32, 31, 31);
    color: #FEDF50;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
